<h1>tamayoke</h1>

<script type="text/ruby">
  DXOpal.dump_error{ require_remote 'tamayoke_source' }
</script>

<canvas id="dxopal-canvas"></canvas>
<div id="dxopal-errors"></div>

<div>
・方向キー → プレイヤー移動<br/>
・スペースキー → 減速
</div>

<input type="button" value="RESET" onclick="window.location.reload();" />

<hr />

<%= link_to "source code", "https://github.com/zizochan/dxopal_games/blob/master/app/dxopal/tamayoke.rb" %>
